@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #2C2F33; */
}

#footer__section{
    background-color: #373B41;
    padding: 50px 0;
}

.footer__container {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    align-items: start;
    justify-content: space-between;

}

.footer__container>div {
    width: 40%;
}

.submit__sms form textarea {
    width: 100%;
    height: 250px;
    resize: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #444851;
    color: white;
    border: 1px solid #f0bf6c;
    margin-bottom: 15px;
}

.submit__sms form button{
    background-color: #444851;

    padding: 10px 30px;
    border-radius: 5px;
    color:#f0bf6c ;
}

.social__media{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social{
    display: flex;
    background-color: #444851;
    align-items: center;
    text-decoration: none;
    color:#f0bf6c ;
    gap: 10px;
    padding: 10px 25px;
    border-radius: 5px;
}

.footer__line{
    max-width: 1440px;
    margin: 50px auto;
    height: 1px;
    background-color: #f0bf6c;
}

.footer__text{
    text-align: center;
    font-size: 25px;
    color:#f0bf6c ;
}