body {
    background-color: #2c2f33;
    font-family: Arial, sans-serif;
    color: white;
}
/*Header*/
.header {
    position: sticky;
    top: 10px;
    background-color: #2c2f33;
    z-index: 999;
    transition: .5s ease-in-out;

}
.header.scrolled {
    top: 0;
    border-bottom: 4px solid #f0bf6c;
    border-radius: 10px;
    transition: .5s ease-in-out;


}
.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    border: 3px solid #f0bf6c;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #f0bf6c;
    padding: 10px 0;
    margin-top: 16px;
    transition: .5s ease-in-out;

}
.header .container.scrolled {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    border: none;
    box-shadow: none;
    transition: .5s ease-in-out;
    padding: 10px 0;
}
.header .container ul {
    list-style-type: none;
}

.header .container ul li {
    display: inline-block;
    margin-right: 25px;
}

.header .container ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .3s ease-in-out
}

.header .container ul li a:hover {
    color: #f0bf6c;
}

/* Banner*/
.banner {
    margin: 4rem 0;
}
.banner .container {
    display: flex;
    margin: auto;
    max-width: 1200px;
}
.banner .container .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.banner .container .content h3 {
    font-size: 25px;
    color: #f0bf6c;
    transition: .3s ease-in-out;
}
.banner .container .content h3:hover {
    transform: scale(1.05);
    transform: translateY(-5px);
}
.banner .container .content h1 {
    margin: 0;
    font-size: 50px;
    transition: .3s ease-in-out;
}
.banner .container .content h1:hover {
    transform: scale(1.05);
    transform: translateY(-5px);
}
.banner .container .content h1 span {
    color: #f0bf6c;
}
.banner .container .content p {
    font-size: 20px;
    transition: .3s ease-in-out;
}
.banner .container .content p:hover {
    transform: scale(1.05);
    transform: translateY(-5px);
}
.banner .container .content a button {
    border: 2px solid #f0bf6c;
    background: transparent;
    color: #f0bf6c;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    position: relative;
    transition: .5s ease-in-out all;
}
.banner .container .content a button::before {
    content: '';
    width: 0;
    height: 100%;
    background-color: #f0bf6c;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 7px;
    transition: .5s ease-in-out all;
    z-index: -1;
}
.banner .container .content a button:hover::before {
    width: 100%;
}
.banner .container .content a button:hover{
    color: white;
}
.banner .container .photo {
    flex: 1;
}
.banner .container .photo img {
    width: 100%;
    transition: .3s ease-in-out;
}
.banner .container .photo img:hover {
    transform: scale(1.05);
    transform: translateY(-5px);
}
.hand {
    transform: rotate(30deg);
}
.social-network {
    border: 2px solid #f0bf6c;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 10px 20px;
    font-size: 50px;
    margin-top: 2rem;
}
.social-network a {
    color: #f0bf6c;
    margin: 0 1rem;
    transition: .3s ease-in-out;
}
.social-network a:hover {
    color: #fff;
}
/*About*/
.about {
    margin: 5rem 0;
}
.about .container{
    width: 1000px;
    margin: auto;
}
.about .container h1 {
    color: #f0bf6c;
    font-size: 40px;
}
.about .container .text {
    position: relative;
}
.about .container .text p {
    margin-left: 50px;
    font-size: 20px;
}
.about .container .text span {
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #f0bf6c;
    left: 0;
    top: 10px;
}

/* Skills */
.skills h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #f5f5f5;
}
.skills {
    margin-bottom: 4rem;
}
.skills .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* Dynamic grid columns */
    gap: 20px;
    max-width: 800px;
    /* Set maximum width */
    padding: 20px;
    background-color: #373b41;
    /* Card container background */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin: auto;
}

.skills .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444851;
    /* Card background color */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skills .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.skills .card img {
    width: 50%;
    margin-bottom: 10px;
}

.skills .card span {
    font-size: 1rem;
    color: #f5f5f5;
    margin-top: 5px;
}

/* Skills end */