@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: "Space Mono", monospace;
}

:root {
    --background-color: #2c2f33;
    --text-color: white;
    --primary-color: #f0bf6c;
    --card-background: #444851;
    --hover-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

* {
    box-sizing: border-box;
}

/* Dots*/
.dots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 200px;
    position: absolute;
}

.dots>span {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.dots .main {
    opacity: 70%;
}

.dots .secondary {
    opacity: 50%;
    background: none;
    border: 2px solid var(--primary-color);
}

/* Header */
.header {
    position: sticky;
    top: 10px;
    background-color: var(--background-color);
    z-index: 999;
    transition: .5s ease-in-out;
}

.header.scrolled {
    top: 0;
    border-bottom: 4px solid var(--primary-color);
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 5px 5px 8px var(--primary-color);
    padding: 0.6rem;
    margin-top: 1rem;
    transition: .5s ease-in-out;
}

.header .container.scrolled {
    border: none;
    box-shadow: none;
    padding: .6rem 0;
}

.header .container ul {
    list-style-type: none;
}

.header .container ul li {
    display: inline-block;
    margin-right: 1.5rem;
}

.header .container ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.25rem;
    transition: .3s ease-in-out;
}

.header .container ul li a:hover {
    color: var(--primary-color);
}

/* Banner */
.banner {
    padding: 1rem;
    margin: 2rem 0;
    position: relative;
}

.banner .dots {
    top: 20%;
    right: 0;
}

.banner .container {
    display: flex;
    margin: auto;
    max-width: 1440px;
}

.banner .container .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.banner .container .content h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: .3s ease-in-out;
    margin: 0;
}

.banner .container .content h1 {
    font-size: 2.8rem;
    line-height: 120%;
    margin: .6rem 0;
    transition: .3s ease-in-out;
}

.banner .container .content h1 span {
    color: var(--primary-color);
}

.banner .container .content p {
    font-size: 1.25rem;
    transition: .3s ease-in-out;
}

.banner .container .content a button {
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    padding: 1rem 1.8rem;
    border-radius: 10px;
    font-size: 1.1rem;
    position: relative;
    transition: .5s ease-in-out all;
}

.banner .container .content a button::before {
    content: '';
    width: 0;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 7px;
    transition: .5s ease-in-out all;
    z-index: -1;
}

.banner .container .content a button:hover::before {
    width: 100%;
}

.banner .container .content a button:hover {
    color: var(--hover-color);
}

.banner .container .photo {
    flex: 1;
}

.banner .container .photo img {
    width: 100%;
    transition: .3s ease-in-out;
}

.hand {
    transform: rotate(30deg);
}

.banner .social-network {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 2rem;
    padding: .6rem 1.25rem;
    font-size: 3.1rem;
}

.banner .social-network a {
    color: var(--primary-color);
    transition: .3s ease-in-out;
}

.banner .social-network a:hover {
    color: var(--hover-color);
}

@media(max-width: 1000px) {
    .banner .container {
        flex-direction: column;
    }

    .banner h1 {
        font-size: 0px;
    }

    .banner h3 {
        font-size: 18px;
    }

    .banner p {
        font-size: 1rem;
    }
}

/* About */
.about {
    padding: 3rem 1rem;
    position: relative;
}

.about .container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.about .container h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

.about .container .text {
    position: relative;
}

.about-span {
    background-color: var(--primary-color);
    width: 3.1rem;
    height: 3px;
    border-radius: 10px;
    position: absolute;
    top: .5rem;
    left: -3.2rem;
}

.about .container .text p {
    margin-left: 3.75rem;
    font-size: 1.3rem;
    position: relative;
}

.about .container .text .learn-more {
    margin-top: 1.25rem;
    padding: .6rem 1.25rem;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25rem;
    transition: background-color 0.3s, color 0.3s;
}

.about .container .text .learn-more:hover {
    background-color: var(--primary-color);
    color: #fff;
}


/* Hide image on mobile devices */
@media (max-width: 768px) {
    .about .container>img {
        display: none;
        /* Hide the image on mobile */
    }

    .about .container .text {
        margin-left: 0;
        /* Adjust text margin for mobile view */
    }

    .about .container .text {
        text-align: center;
    }

    .about-span {
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
    }

    .about .container .text p {
        margin-left: 0;
    }
}

/* Skills */
.skills h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--text-color);
}

.skills {
    margin-bottom: 4rem;
    padding: 0 1rem;
    position: relative;
}

.skills .dots {
    top: 0;
    right: 0;
}

.skills .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.25rem;
    max-width: 1200px;
    padding: 1.25rem;
    background-color: #373b41;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    margin: auto;
}

.skills .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 1.25rem;
    text-align: center;
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skills .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px var(--shadow-color);
}

.skills .card img {
    width: 130px;
    margin-bottom: .6rem;
}

.skills .card span {
    font-size: 1.25rem;
    color: var(--text-color);
    margin-top: .3rem;
}

/* Testiomonial */
.testimonial {
    margin-bottom: 3rem;
}

.testimonial .container {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.testimonial .container .text-box {
    flex: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.testimonial .container .text-box span {
    background-color: var(--primary-color);
    width: 3.1rem;
    height: 3px;
    border-radius: 10px;
    position: absolute;
    top: .8rem;
    left: -3.8rem;
}

.testimonial .container .text-box p {
    margin-left: 3.75rem;
    font-size: 1.3rem;
    position: relative;
    padding-right: 20px;
}

.testimonial .container .img-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.testimonial .container .img-box::before {
    content: "";
    position: absolute;
    background-color: #f0bf6c;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 80%;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.testimonial .container .img-box img {
    width: 100%;
}

/* Portfolio */
.portfolio {
    position: relative;
}

.portfolio .dots {
    top: 0;
    left: 0;
}

.portfolio .portfolio-container {
    text-align: center;
    padding: 2rem 1rem;
}

.portfolio h1 {
    margin-bottom: 1.8rem;
}

.portfolio .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: .6rem;
    margin: 1.25rem auto;
    max-width: 1000px;
}

.portfolio .grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.portfolio .grid-item img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}

.portfolio .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.portfolio .grid-item:hover .overlay {
    opacity: 1;
}

.portfolio button {
    padding: 1rem 2.18rem;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--hover-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s ease-in-out;
    font-size: 1rem;
}

.portfolio button:hover {
    background-color: var(--primary-color);
}

.portfolio .view-more {
    margin-top: 1.25rem;
}

/* General Styles for Footer */
#footer__section {
    padding: 1.25rem;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.submit__sms {
    flex: 1 1 18.75rem;
    /* Flexible box with minimum width of 300px */
}

.submit__sms textarea {
    width: 100%;
    height: 15.6rem;
    resize: none;
    outline: none;
    font-size: 1.25rem;
    padding: .6rem;
    border-radius: 10px;
    background-color: #444851;
    color: white;
    border: 1px solid #f0bf6c;
}

.submit__sms button {
    background-color: #444851;

    padding: 1rem 1.8rem;
    border-radius: 5px;
    font-size: 1rem;
    color: #f0bf6c;
    margin-top: .6rem;
}

.submit__sms button:hover {
    background-color: #4d525d;
}

/* Social Media Styles */
footer .social__media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    gap: .6rem;
    flex: 1 1 18.75rem;
    /* Flexible box with minimum width of 300px */
}

footer .social {
    min-width: 18.75rem;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding: .6rem;
    margin-bottom: 5px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

footer .social:hover {
    background-color: var(--card-background);
    color: var(--primary-color);
}

/* Footer Line and Text */
.footer__line {
    margin: 1.25rem 0;
    height: 2px;
    background-color: var(--primary-color);
}

.footer__text {
    text-align: center;
    font-size: 1.5rem;
    padding-top: .6rem;
    color: var(--primary-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
    }

    .submit__sms,
    .social__media {
        width: 100%;
        flex: none;
    }

    .social {
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }

    html {
        font-size: 11px;
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    html {
        font-size: 12px;
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }

    .about .container img {
        width: 50%;
    }

    html {
        font-size: 13px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    html {
        font-size: 16px;
    }
}